body {
	margin: 0;
	overflow: auto;
	font-family: 'archer-book', serif;
	font-size: 13pt;
	color: #444;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	max-width: 960px;
	margin: auto;
}

.title {
	text-align: center;
	color: #d67c30;
	font-family: 'helvetica-condensed';
	text-transform: uppercase;
}

.layer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media (orientation: landscape) and (min-width: 640px) {
	.layer {
		height: 100vh;
	}
}
@media (orientation: portrait) {
	.layer {
		height: 100vh;
	}
}
@media (orientation: landscape) and (max-width: 640px) {
	.layer {
		min-height: 100vw;
	}
}
.content {
	flex: 1;
}
.p20 {
	padding: 0 20px;
}
